<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/assets/Imgs/pngwing.com (2).png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/ba035c055c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Elshad Sadigov</title>
</head>

<body>
    <!-- Loading Part -->
    <div class="loading">
        <div class="loader">ELSHAD</div>
    </div>
    <!-- Loading Part -->
    @RenderBody()



<script src="~/assets/app.js"></script>
</body>

</html>