@model List<SkillType>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
<div class="container">



<div>
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->

    <div class="mx-3">

        <div style="display:flex; justify-content:space-between; align-items:center">

            <div>
                <h1><strong>Skill Types</strong></h1>
            </div>
            <div>

                <a asp-action="create" asp-controller="SkillType">
                    <button class=" btn btn-info">
                        <i class="bi bi-pencil-square"></i>
                        Create
                    </button>
                </a>
            </div>

        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Skills</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        count++;


                        <tr>


                            <td>@count</td>
                            <td class="text-info">@item.Type</td>


                            <td>
                                <div>
                                    <div>
                                        <a asp-action="update" asp-controller="SkillType" asp-route-id="@item.Id">
                                            <button class="btn btn-primary">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </a>

                                        <a class="mx-1" asp-action="delete" asp-controller="SkillType" asp-route-id="@item.Id">
                                            <button class="btn btn-danger">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->
    <!-- ==================================================================================== -->





</div>

</div>
